* {
  margin: 0;
  padding: 0;
}
.handleForgotPasswordHeadingPadding {
  padding-top: 20px;
}

.miniForgotHeading {
  width: 24vw;
  height: 40px;
  word-wrap: break-word;
  font-size: 15px;
  color: #858586;
}

.removeForgotInputShadow {
  width: 27vw;
  box-shadow: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  padding: 12px 10px;
}
.removeForgotInputShadow::placeholder {
  color: #858586;
}
.forgotSubmitButton {
  width: 27vw;
  border-radius: 6px;
  padding: 12px 0;
  background: #007bff;
  color: white;
  border: none;
}
.handleForgotPaddingFields {
  padding-bottom: 35px;
}
@media screen and (max-width: 1400px) {
  .loginParentDiv {
    justify-content: center;
  }
  .removeForgotInputShadow,
  .forgotSubmitButton {
    width: 35vw;
  }
  .miniForgotHeading {
    width: 27vw;
  }
}
@media screen and (max-width: 1250px) {
  .removeForgotInputShadow,
  .forgotSubmitButton {
    width: 42vw;
  }
  .miniForgotHeading {
    width: 31vw;
  }
}
@media screen and (max-width: 1010px) {
  .removeForgotInputShadow,
  .forgotSubmitButton {
    width: 50vw;
  }
  .miniForgotHeading {
    width: 36vw;
  }
}
@media screen and (max-width: 850px) {
  .removeForgotInputShadow,
  .forgotSubmitButton {
    width: 60vw;
  }
  .miniForgotHeading {
    width: 43vw;
  }
}
@media screen and (max-width: 700px) {
  .removeForgotInputShadow,
  .forgotSubmitButton {
    width: 70vw;
  }
  .miniForgotHeading {
    width: 50vw;
  }
}
@media screen and (max-width: 600px) {
  .removeForgotInputShadow,
  .forgotSubmitButton {
    width: 82.5vw;
  }
  .miniForgotHeading {
    width: 57vw;
  }
}
@media screen and (max-width: 520px) {
  .miniForgotHeading {
    width: 64vw;
  }
}
@media screen and (max-width: 460px) {
  .miniForgotHeading {
    width: 71vw;
  }
}
@media screen and (max-width: 420px) {
  .miniForgotHeading {
    width: 82.5vw;
  }
}
