* {
  margin: 0;
  padding: 0;
}
.signUpParentDiv {
  display: flex;
  align-items: center;
  height: auto;
  overflow: hidden;
  padding: 0 82px;
  padding-top: 45px;
}
.signUpFormDiv {
  display: flex;
  padding-top: 25px;
}
.handleSignUpPadding {
  padding-left: 20px;
}
.handleSignUpFieldPadding {
  padding-top: 5px;
}
.handlePasswordPadding {
  padding-bottom: 5px;
}
.removeSignUpShadow {
  width: 20vw;
  box-shadow: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  padding: 12px 10px;
}
.removeInputShadow {
  width: 41.5vw;
  box-shadow: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  padding: 12px 10px;
}
.signUpEyeIcon {
  position: absolute;
  right: 15px;
  top: 33px;
  font-size: 21px;
}

.removeInputShadow::placeholder,
.removeSignUpShadow::placeholder {
  color: #858586;
}

.handleSignUpDropDownWidth {
  width: 20vw;
  color: #858586;
}
.breakSignUpDropdownHeading {
  width: 17vw;

  word-wrap: break-word;
  height: 33px;
}
.errorMessageProperty {
  display: none;
  color: red;
}
.signUpSubmitButton {
  margin-top: 25px;
  width: 41.5vw;
  border-radius: 6px;
  padding: 12px 0;
  background: #007bff;
  color: white;
  border: none;
}

@media screen and (max-width: 1400px) {
  .signUpParentDiv {
    justify-content: center;
  }
  .removeSignUpShadow {
    width: 35vw;
  }
  .removeInputShadow,
  .signUpSubmitButton {
    width: 71.5vw;
  }
  .handleSignUpDropDownWidth {
    width: 35vw !important;
  }
  .breakSignUpDropdownHeading {
    width: 32vw;
  }
}
@media screen and (max-width: 960px) {
  .removeSignUpShadow {
    width: 40vw;
  }
  .removeInputShadow,
  .signUpSubmitButton {
    width: 82.5vw;
  }
  .handleSignUpDropDownWidth {
    width: 40vw !important;
  }
  .breakSignUpDropdownHeading {
    width: 37vw;
  }
}
@media screen and (max-width: 650px) {
  .signUpFormDiv {
    flex-direction: column;
    align-items: center;
  }
  .handleSignUpPadding {
    padding-left: 0;
  }

  .removeInputShadow,
  .signUpSubmitButton,
  .removeSignUpShadow,
  .handleSignUpDropDownWidth {
    width: 82.5vw !important;
  }

  .breakSignUpDropdownHeading {
    width: 79vw;
  }
}
