.MuiTabs-root {
  width: 100%;
  background-color: #eef5fd;
  padding-left: 6px;
}
.MuiTabs-flexContainer {
  padding-left: 20px !important;
}
.MuiButtonBase-root {
  /* width: 13vw !important; */
  color: black !important;

  font-weight: 500 !important;
}
.Mui-selected {
  background: #aec4d2 !important;
  color: black !important;
}
.MuiTabs-indicator {
  height: 0 !important;
}
.tabcontent {
  display: flex;
  padding: 6px 12px;
  flex-wrap: wrap;
  padding-left: 30px;
}
.tabPart {
  background-color: #eef5fd;
  margin: 3px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;

  padding-left: 50px;
  padding-top: 50px;
}
